<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_7up_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_7up_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticaLogin"
        tools:targetApi="31">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".BebidasActivity"
            android:exported="false" />
        <activity android:name=".NosotrosActivity"
            android:exported="false"/>
        <activity
            android:name=".DatosPersonalesActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>